/* =================================
  Base Element Styles
==================================== */
/*This property prevents any padding
in border width values from expanding and
possibly breaking layout containers when adding
more content to the page.*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
/*Handles the collapsing above and below the h1 tag*/
.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/*These links are now block level elements and accept top to bottom paddings*/
.name a,
.main-nav a {
  padding: 10px 15px;
	display: block;
}

/* =================================
  Media Queries
==================================== */

/*Mobile first approach*/
@media (min-width: 769px) {

  .wrap {
  /*vh = viewport height and forcing the footer
  to the bottom of the page.*/
  /*calc is a function*/
  /*Footer will now stick at the bottom of the page*/
  min-height: calc(100vh - 89px);
}


  .container {
    /*The width is preventing the layout
  from stretchin too wide*/
  width: 70%;
  /*So that the layout container does not get
  any wider than 1,000px in larger screens*/
  max-width: 1000px;
    /*Setting the left and right margins to auto
  centers the wrapper*/
  margin: 0 auto;
  }

	.name,
.main-nav li {
  display: inline;
}

.name {
  width: 240px;
}

.main-nav li {
	margin-right: -6px;
}

}
