/* =================================
  Base Element Styles
==================================== */
/*This property prevents any padding
in border width values from expanding and
possibly breaking layout containers when adding
more content to the page.*/
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
/*Handles the collapsing above and below the h1 tag*/
.name {
  margin: 0;
}


/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.main-header {
  padding: 1.5em 0;
	background: #3acec2;
}

.main-footer {
  text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* =================================
  Media Queries
==================================== */

/*Mobile first approach*/
@media (min-width: 769px) {

  .wrap {
  /*vh = viewport height and forcing the footer
  to the bottom of the page.*/
  /*calc is a function*/
  /*Footer will now stick at the bottom of the page*/
  min-height: calc(100vh - 89px);
}
	

  .container {
    /*The width is preventing the layout
  from stretchin too wide*/
  width: 70%;
  /*So that the layout container does not get
  any wider than 1,000px in larger screens*/
  max-width: 1000px;
    /*Setting the left and right margins to auto
  centers the wrapper*/
  margin: 0 auto;
  }
}
