/** Universal CSS Selector**/
/* * {
  margin: 0;
  padding: 0;
  color: #ff0000;
}*/


/********
HOME PAGE
*********/

/* Type Selectors*/
body {
  color: #878787; /* Hexidecimal for a shade of gray */
  margin: 0;
  font-size: 1em; /*1em is equal to 16px */
}

/*Descendant selector*/
/*ol li {
  background-color: tomato;
  color: white;
  margin-bottom: 5px;
}*/

h1 {
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 53px;
}
/* Hexidecimal is a lighter shade of black*/
h3 {
  font-size: 20px;
  color: #48525c;
}

/**Pseudo-Classes**/

a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}

/**User interaction Pseudo-Classes**/
a:hover {
  color: forestgreen;
}

/**Active Pseudo-Class**/
a:active {
  color: lightcoral;
}

/**Focus Pseudo-Class**/
/**Used for user input or interaction like forms**/
/*a:focus {
  color: white;
  background-color: orange;
}*/

/* ID Selectors -------------------- */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

/* Class Selectors ----------------- */

.main-header {
  background-color: orange;
  font-size: 2em;
}

.title {
  color: white;
  font-size: 1.625em; /* 26px/16px*/
}

.primary-content, .secondary-content {
  width: 60%;
}

.primary-content {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey; /* Top border styles */
}
